# @package transforms

# ## Fusion baseline (keep ppg and acc)

train:
  _target_: biosignals.data.transforms.compose.Compose
  transforms:
    - _target_: biosignals.data.transforms.signal_ops.EnsureFloat32
    - _target_: biosignals.data.transforms.signal_ops.ZScorePerChannel

val:
  _target_: biosignals.data.transforms.compose.Compose
  transforms:
    - _target_: biosignals.data.transforms.signal_ops.EnsureFloat32
    - _target_: biosignals.data.transforms.signal_ops.ZScorePerChannel
